/*------------------------------NAVBAR START-----------------------------------*/
#navbar {
    background-color: rgba(165, 227, 136, 0); /* Completely transparent */
    transition: background-color 0.3s ease-in-out;
    color: black;
    font-weight: bold;
}

#navbar-heading{
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px rgb(246, 255, 65);
}

#login-btn{
    border-radius: 20px;
    border-color: rgb(254, 254, 254);
    background-color: rgba(165, 227, 136, 0);
    height: 80%;
    margin-top: 3%;

}

#login-btn-scrolled{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgba(165, 227, 136, 0);
    height: 80%;
    margin-top: 3%;
    font-weight: bold;
}

#login-btn:hover {
    box-shadow: 0 0 15px 5px rgba(246, 255, 65, 0.7); /* Grey color with reduced spread */
    border-color: rgb(255, 255, 255,0);
}
/* jugaaar pro max */
#login-btn-scrolled:hover {
    box-shadow: 0 0 15px 5px rgba(246, 255, 65, 0.7); /* Grey color with reduced spread */
    border-color: rgb(255, 255, 255,0);
}
/* jugaaar pro max */



/* State of the navbar when scrolling down (semi-transparent) */
#navbar-scrolled {
    background-color: rgba(215, 215, 215, 0.585); /* Semi-transparent */
}

/*------------------------------NAVBAR END-----------------------------------*/


/* -------------------------CATEGORY START----------------------------------- */

#catg{
    background-color: black;
    color: white;
}
.line{
    color: white;
    width: 50%;
    margin: auto;
    size: 50%;
 }


/* style.css */
#catg {
    background-image: url('images/category-bg.jpg'); /* Replace with your background image path */
    background-size: cover;
    background-position: center;
    padding: 20px;
}

.carousel-item .card {
    background-color: rgba(255, 255, 255, 0.7); /* White with opacity */
    border: none;
    border-radius: 10px;
    max-width: 400px;  /* Increased width */
    min-height: 400px; /* Increased height */
    margin: auto;
    box-shadow: 0 0 25px 5px rgba(251, 251, 251, 0.411);
    
}

.card img {
    height: 250px;  /* Adjusted height for the image */
    object-fit: cover;
}

.card-title, .card-text, .card-icon {
    margin: 10px 0;
}

.card-icon img {
    height: 30px;
    width: 30px;
}


/* -------------------------CATEGORY END----------------------------------- */