/*------------------------------NAVBAR START-----------------------------------*/
#navbar {
    background-color: rgba(165, 227, 136, 0); /* Completely transparent */
    transition: background-color 0.3s ease-in-out;
    color: black;
    font-weight: bold;
}

#navbar-heading{
    font-size: 25px;
    color: black;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 2px 2px rgb(246, 255, 65);
}

#login-btn{
    border-radius: 20px;
    border-color: rgb(254, 254, 254);
    background-color: rgba(165, 227, 136, 0);
    height: 80%;
    margin-top: 3%;

}

#login-btn-scrolled{
    border-color: rgb(0, 0, 0);
    color: rgb(0, 0, 0);
    border-radius: 20px;
    background-color: rgba(165, 227, 136, 0);
    height: 80%;
    margin-top: 3%;
    font-weight: bold;
}

#login-btn:hover {
    box-shadow: 0 0 15px 5px rgba(246, 255, 65, 0.7); /* Grey color with reduced spread */
    border-color: rgb(255, 255, 255,0);
}
/* jugaaar pro max */
#login-btn-scrolled:hover {
    box-shadow: 0 0 15px 5px rgba(246, 255, 65, 0.7); /* Grey color with reduced spread */
    border-color: rgb(255, 255, 255,0);
}
/* jugaaar pro max */



/* State of the navbar when scrolling down (semi-transparent) */
#navbar-scrolled {
    background-color: rgba(215, 215, 215, 0.585); /* Semi-transparent */
}

/*------------------------------NAVBAR END-----------------------------------*/


/* -------------------------CATEGORY START----------------------------------- */

#catg{
    background-color: black;
    color: white;
}
.line{
    color: white;
    width: 50%;
    margin: auto;
    size: 50%;
 }
/* -------------------------CATEGORY END----------------------------------- */